section {
  padding: 15px;
  margin-top: 20px;
  background-color: gray;
  color: white;
  text-align: center;
  border: 2px solid black;
}

/* NAVBAR */

.navbar {
  border-bottom: 2px solid white;
}

.navbar-left {
  float: left;
}

.navbar-left h3 {
  margin: 5px 10px 5px 0;
  color: lime;
}


.navbar-right {
  float: right;
  margin: 0 10px 10px 0;
}

/* TABLE */

.table {
  margin-top: 20px;
}

.header-row {
    font-size: 1.5em;
}

.column-header {
  text-align: center;
}

.form-control {
  width: 350px;
  text-align: center;
  margin: 0 auto;
}
