<h2>Add a Show:</h2>
<form action="/shows" method="post">
  <div class="form-group">
    <label for="name">Show Name</label>
    <input type="text" class="form-control" name="name" placeholder="Show Name">
  </div>
  <div class="form-group">
    <label for="network">Network</label>
    <input type="text" class="form-control" name="network" placeholder="Network">
  </div>
  <div class="form-group">
    <label for="weekday">Weekday</label>
    <input type="text" class="form-control" name="weekday" placeholder="Weekday">
  </div>
  <div class="form-group">
    <label for="showtime">Time</label>
    <input type="text" class="form-control" name="showtime" placeholder="Time">
  </div>
  <button type="submit" class="btn btn-default">Add Show</button>
</form>
