<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TV Shows Watchlist</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet1.css">

  </head>
  <body>

      <div class="container">
        <section>
          <div class="navbar">
            <div class="navbar-left">
              <a href="/signup" class="btn btn-default" role="button">Create Account</a>
              <a href="/login" class="btn btn-default" role="button">Log In</a>
            </div>
          </div>

            <%= yield %>

        </section>
        <footer>
          &copy 2017 John Schlesinger
        </footer>
      </div>

  </body>
</html>
